---
layout: ""
page_title: "Provider: Kentik Cloud Export"
description: |-
  The Kentik Cloud Export provider is used to work with Kentik Cloud Exports, which allow to import flow logs and meta-data from services deployed in public clouds.
---

# Kentik Cloud Export provider

The Kentik Cloud Export provider is used to work with Kentik Cloud Exports, which allow to import flow logs and meta-data from services deployed in public clouds.

## Example usage

Go to folder with Terraform `.tf` definition files for Cloud Export resources/data sources ([./examples/**](./examples)):

1. Configure provider with parameters:

```terraform
provider "kentik-cloudexport" {
  // Authorization email (required). Can also be specified with KTAPI_AUTH_EMAIL environment variable.
  email = "john@acme.com"
  // Authorization token (required). Can also be specified with KTAPI_AUTH_TOKEN environment variable.
  token = "token"
}
```

or environment variables:

```bash
export KTAPI_AUTH_EMAIL="john@acme.com"
export KTAPI_AUTH_TOKEN="token"
```

2. Apply Terraform configuration:

```bash
terraform init
terraform apply # creates resources in Kentik platform
```

3. Clean up resources:

```bash
terraform destroy
```

{{ .SchemaMarkdown | trimspace }}
